<body>
    <h2>Renewable Energy in the Pacific Northwest</h2>
    <p>Source: U.S. Energy Information Administration</p>
    <p>Data includes Oregon, Washington, and Idaho</p>
    <p>Created by Cooper Cairns</p>
    <ng-container>
        <iframe src="assets/1percent.png" width="900" height="300" frameborder="0" scrolling="no"></iframe>
        <iframe src="assets/1abs.png" width="900" height="300" frameborder="0" scrolling="no"></iframe>
        <iframe src="assets/2percent.png" width="900" height="300" frameborder="0" scrolling="no"></iframe>
        <iframe src="assets/2abs.png" width="900" height="300" frameborder="0" scrolling="no"></iframe>
        <iframe src="assets/3percent.png" width="900" height="300" frameborder="0" scrolling="no"></iframe>
        <iframe src="assets/3abs.png" width="900" height="300" frameborder="0" scrolling="no"></iframe>
    </ng-container>
</body>